.sign {
  margin: 0;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sign__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign__box_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  border: 2px solid #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: none;
}

.sign__box_left_title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.12px;
  color: black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 100;
  padding: 40px 64px 30px;
  margin: 0;
  text-align: start !important;
}

.sign__box_left_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 40px 64px 30px;
}

.sign__box_left_form_numinput {
  padding-bottom: 10px;
  margin: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #f8f8f8;
  outline: none;
  font-size: 16px;
  color: #424242;
  width: 100%;
}

.sign__box_left_form_numinput_number {
  font-weight: bold;
}

.sign__box_left_form_numinput_parol::-webkit-input-placeholder {
  color: #9b9b9b;
}

.sign__box_left_form_numinput_parol:-ms-input-placeholder {
  color: #9b9b9b;
}

.sign__box_left_form_numinput_parol::-ms-input-placeholder {
  color: #9b9b9b;
}

.sign__box_left_form_numinput_parol::placeholder {
  color: #9b9b9b;
}

.sign__box_left_form_numinput_number::-webkit-input-placeholder {
  color: #424242;
}

.sign__box_left_form_numinput_number:-ms-input-placeholder {
  color: #424242;
}

.sign__box_left_form_numinput_number::-ms-input-placeholder {
  color: #424242;
}

.sign__box_left_form_numinput_number::placeholder {
  color: #424242;
}

.sign__box_left_form_numinput + .sign__box_left_form_numinput {
  margin-top: 30px;
}

.sign__box_left_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign__box_left_box_btn {
  margin: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  border: none;
  width: 313px;
  height: 54px;
  height: 54px;
  font-size: 18px;
  line-height: 14px;
  background-color: #00b533;
  margin-top: 30px;
}

.sign__box_left_box_link {
  color: #949494;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding-top: 15px;
}

.sign__box_left_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 64px 30px;
  background: #f5f2f2;
  width: 100%;
}

.sign__box_left_bottom_span {
  color: #949494;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

.sign__box_left_bottom_link {
  color: #00b533;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 17px;
  margin: 0;
  padding-top: 15px;
  font-weight: bold;
  margin: 0;
}

.sign__box_right {
  margin: 0;
  padding: 0;
}

.sign__box_right_img {
  width: 523px;
  height: 426px;
}

@media screen and (max-width: 1000px) {
  .sign__box_right_img {
    width: 500px;
    height: 406px;
  }
}

@media screen and (max-width: 971px) {
  .sign__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sign__box_left {
    width: 100%;
  }
  .sign__box_left_form {
    width: 100%;
  }
  .sign__box_left_box {
    width: 100%;
  }
  .sign__box_left_box_btn {
    width: 100%;
  }
  .sign__box_right {
    margin-top: 40px;
  }
}

@media screen and (max-width: 535px) {
  .sign__box_right_img {
    width: 430px;
    height: 336px;
  }
}

@media screen and (max-width: 431px) {
  .sign__box_left_title {
    font-size: 27px;
    line-height: 34px;
    padding: 20px 44px 15px;
  }
  .sign__box_left_form {
    padding: 20px 44px 15px;
  }
  .sign__box_left_bottom {
    padding: 40px 44px 30px;
  }
  .sign__box_right_img {
    width: 400px;
    height: 306px;
  }
}

@media screen and (max-width: 403px) {
  .sign__box_left_form {
    padding: 20px 34px 15px;
  }
  .sign__box_left_bottom {
    padding: 30px 34px 20px;
  }
  .sign__box_right_img {
    width: 350px;
    height: 280px;
  }
}

@media screen and (max-width: 375px) {
  .sign__box_left_form {
    padding: 15px 28px 15px;
  }
  .sign__box_left_bottom {
    padding: 25px 29px 15px;
  }
  .sign__box_right_img {
    width: 330px;
    height: 250px;
  }
}
/*# sourceMappingURL=Sign.css.map */