.activealoqa {
  margin: 0;
  padding-top: 15px;

  &__box {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  &__box_ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  &__box_ul_li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__box_ul_li_title {
    font-size: 75px;
    line-height: 85px;
    color: #000;
    font-weight: 600;
    letter-spacing: -0.3px;
    font-family: sans-serif;
  }
  &__box_ul_li_title > span {
    color: #00b533;
  }
  &__box_ul_li_box {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets//icons/framebg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 329px;
    height: 293px;
  }
  &__box_ul_li__box_images2 {
    width: 168px;
    height: 386px;
    margin-top: 29px;
  }
  &__box_ul_li_btn {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-image: url(../../assets/images/hqdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__box_ul_li_img {
    width: 61px;
    height: 61px;
  }

  @media screen and (max-width: 1187px) {
    &__box_ul_li_title {
      font-size: 65px;
      line-height: 75px;
    }
  }
  @media screen and (max-width: 1067px) {
    &__box_ul_li_title {
      font-size: 55px;
      line-height: 65px;
    }
  }
  @media screen and (max-width: 980px) {
    &__box_ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__box_ul_li {
      margin-bottom: 50px;
    }
    &__box_ul_li1 {
      margin-top: 50px;
    }
    &__box_ul_li_title {
      text-align: center;
    }
  }
  @media screen and (max-width: 426px) {
    &__box_ul_li_title {
      font-size: 45px;
      line-height: 55px;
    }
    &__box_ul_li {
      margin-bottom: 30px;
    }
    &__box_ul_li1 {
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 364px) {
    &__box_ul_li_title {
      font-size: 38px;
      line-height: 48px;
    }
    &__box_ul_li_box {
      width: 290px;
      height: 260px;
    }

    &__box_ul_li__box_images2 {
      width: 148px;
      height: 366px;
      margin-top: 29px;
    }
  }
}
