.activealoqa {
  margin: 0;
  padding-top: 15px;

  &__box {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  &__box_ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  &__box_ul_li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__box_ul_li_title {
    font-size: 75px;
    line-height: 85px;
    color: #000;
    font-weight: 600;
    letter-spacing: -0.3px;
    font-family: sans-serif;
  }
  &__box_ul_li_title > span {
    color: #00b533;
  }
  &__box_ul_li_box {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets//icons/framebg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 329px;
    height: 293px;
  }
  &__box_ul_li__box_images2 {
    width: 168px;
    height: 386px;
    margin-top: 29px;
  }
  &__box_ul_li_btn {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-image: url(../../assets/images/hqdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__box_ul_li_img {
    width: 61px;
    height: 61px;
  }
  &__box_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    margin: 160px 0px 0px 0px;
    padding: 60px;
    background: #f8f8f8;
  }
  &__box_list_item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
  }
  &__box_list_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__box_list_item_box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__box_list_item_box1_title {
    font-family: sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding: 0;
  }
  &__box_list_item_box1_btn {
    display: flex;
    align-items: center;
    width: 281px;
    justify-content: space-between;
    border: 2px solid #000;
    text-decoration: none !important;
    padding: 7px 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
    background-color: transparent;
    transition: all 0.3s linear;
    border-radius: 0 !important;
    text-align: center;
    cursor: pointer;
  }
  &__box_list_item_box1_btn_svg {
    fill: #000;
  }
  &__box_list_item_box1_btn:hover {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    transition: all 0.3s linear;
  }
  &__box_list_item_box1_btn:hover &__box_list_item_box1_btn_svg {
    fill: #fff;
    transition: all 0.3s linear;
  }
  &__box_list_item_items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  &__box_list_item_items_boxes {
    margin-right: 20px;
  }
  &__box_list_item_items_boxes_img {
    width: 45px;
    height: 45px;
  }
  &__box_list_item_items_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__box_list_item_items_box_title {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.12px;
    color: #000;
    width: 240px;
    margin: 0;
    padding: 0;
  }
  &__box_list_item_items_box_desc {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #898989;
    margin: 0;
    padding-top: 20px;
  }

  &__box_list_itemss {
    width: 100%;
    cursor: pointer;
  }
  &__box_list_item_acardion {
    padding: 15px 0px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin: 0;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__box_list_item_acardion > img {
    width: 25px;
    height: 25px;
  }
  &__box_list_item_acardions {
    height: 0;
    opacity: 0;
    transition: all 0.4s ease-in;
  }
  &__box_list_item_acardions_show {
    height: 100px;
    opacity: 1;
    transition: all 0.4s ease-in;
  }

  &__box_list_item_acardions_desc {
    font-size: 19px;
    line-height: 30px;
    word-wrap: break-word;
    white-space: break-spaces !important;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #898989;
    height: 200px;
  }
  @media screen and (max-width: 1187px) {
    &__box_ul_li_title {
      font-size: 65px;
      line-height: 75px;
    }
    &__box_list_item_box1_title {
      font-size: 50px;
      line-height: 60px;
    }
  }
  @media screen and (max-width: 1067px) {
    &__box_ul_li_title {
      font-size: 55px;
      line-height: 65px;
    }
  }
  @media screen and (max-width: 980px) {
    &__box_ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__box_ul_li {
      margin-bottom: 50px;
    }
    &__box_ul_li1 {
      margin-top: 50px;
    }
    &__box_ul_li_title {
      text-align: center;
    }
    &__box_list_item_box1_title {
      font-size: 40px;
      line-height: 50px;
    }
    &__box_list_item_items_box_title {
      font-size: 25px;
      line-height: 35px;
    }
    &__box_list_item_items_box_desc {
      font-size: 17px;
      line-height: 25px;
    }
  }
  @media screen and (max-width: 856px) {
    &__box_list_item_box1_title {
      font-size: 30px;
      line-height: 40px;
    }
    &__box_list_item_items_box_title {
      font-size: 23px;
      line-height: 30px;
    }
    &__box_list_item_items_box_desc {
      font-size: 16px;
      line-height: 20px;
    }
    &__box_list_item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    &__box_list_item_items {
      margin-bottom: 40px;
    }
    &__box_list_item_acardion {
      font-size: 18px;
      line-height: 27px;
    }
  }
  @media screen and (max-width: 749px) {
    &__box_list_item_box1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    &__box_list_item_box1_btn {
      margin-top: 30px;
      width: 251px;
    }
  }
  @media screen and (max-width: 644px) {
    &__box_list_item_acardion {
      font-size: 15px;
      line-height: 20px;
      font-weight: 100;
    }
    &__box_list_item_acardion > img {
      width: 18px;
      height: 18px;
    }
  }
  @media screen and (max-width: 503px) {
    &__box_list_item_box1_title {
      font-size: 25px;
      line-height: 34px;
    }
  }
  @media screen and (max-width: 426px) {
    &__box_ul_li_title {
      font-size: 45px;
      line-height: 55px;
    }
    &__box_ul_li {
      margin-bottom: 30px;
    }
    &__box_ul_li1 {
      margin-top: 40px;
    }
    &__box_list_item_box1_title {
      font-size: 22px;
      line-height: 28px;
    }
  }
  @media screen and (max-width: 364px) {
    &__box_ul_li_title {
      font-size: 38px;
      line-height: 48px;
    }
    &__box_ul_li_box {
      width: 290px;
      height: 260px;
    }

    &__box_ul_li__box_images2 {
      width: 148px;
      height: 366px;
      margin-top: 29px;
    }
    &__box_list_item_box1_title {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
