.activekurse {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.activekurse__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.activekurse__box_left {
  margin: 0;
  padding-right: 50px;
}

.activekurse__box_left_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.activekurse__box_left_ul_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.activekurse__box_left_ul_li_btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  text-align: start;
  width: 100px;
  height: 40px;
  border-bottom: 3px solid #cccccc;
  font-family: sans-serif;
  color: #ccc;
  text-decoration: none;
}

.activekurse__box_left_ul_li_active {
  border-bottom: 3px solid #000;
  color: #000;
}

.activekurse__box_left_ul_li_btn3 {
  margin-top: 70px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 198px;
  border-bottom: 2px solid #cccccc;
  color: #000;
}

.activekurse__box_left_ul_li_btn4 {
  margin-top: 400px;
  padding: 4px 14px;
  width: 198px;
  border: 2px solid #000;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.activekurse__box_left_ul_li_btn4:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #000;
  color: #fff;
}

.activekurse__box_left_ul_li_btn4_img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.activekurse__box_right {
  margin: 0;
  padding-left: 50px;
  background: #fff;
  width: 100%;
  position: relative;
}

.activekurse__box_right_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.activekurse__box_right_ul_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.activekurse__box_right_ul_li + .activekurse__box_right_ul_li {
  margin-left: 50px;
}

.activekurse__box_right_ul_li_desc {
  font-size: 14px;
  color: #000;
  font-family: sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}

.activekurse__box_right_ul_li_desc > img {
  margin-left: 10px;
  width: 13px;
  height: 13px;
}

.activekurse__box_right_ul_li_link {
  text-decoration: none;
  font-family: sans-serif;
  margin-top: 18px;
  color: #939393;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.activekurse__box_right_ul_li_link:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #0ee226;
}

.activekurse__box_righttop {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 861px) {
  .activekurse__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .activekurse__box_left {
    width: 100%;
    padding-right: 0;
  }
  .activekurse__box_left_ul {
    width: 100%;
  }
  .activekurse__box_left_ul_li {
    width: 100%;
  }
  .activekurse__box_left_ul_li_btn1 {
    width: 407px;
  }
  .activekurse__box_left_ul_li_btn2 {
    width: 407px;
  }
  .activekurse__box_left_ul_li_btn3 {
    margin-top: 30px;
    width: 820px;
  }
  .activekurse__box_left_ul_li_btn4 {
    margin-top: 60px;
  }
  .activekurse__box_right {
    padding-left: 0;
  }
  .activekurse__box_right_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 40px;
  }
  .activekurse__box_right_ul_li {
    margin-bottom: 30px;
  }
  .activekurse__box_right_ul_li + .activekurse__box_right_ul_li {
    margin-left: 0px;
  }
  .activekurse__box_righttop {
    top: 40px;
  }
}

@media screen and (max-width: 426px) {
  .activekurse__box {
    padding: 0px 17px;
  }
}
/*# sourceMappingURL=activeKurse.css.map */