.header_bg {
  background: #fff;
  -webkit-transition: all 0.4 ease-in;
  transition: all 0.4 ease-in;
  -webkit-box-shadow: 2px 2px 20px #cdcdcd;
          box-shadow: 2px 2px 20px #cdcdcd;
}

.header {
  margin: 0;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 0.4 ease-in;
  transition: all 0.4 ease-in;
}

.header__nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav_link {
  margin-right: 84px;
}

.header__nav_link_img {
  width: 181px;
  margin-right: 20px;
}

.header__nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.header__nav_ul_li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav_ul_lis {
  position: absolute;
}

.header__nav_ul_li_a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav_ul_li_links > img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.header__nav_ul_li_link + .header__nav_ul_li_link {
  margin-left: 30px;
}

.header__nav_ul_li_link {
  font-weight: 200;
  color: #aeaeae;
  font-family: sans-serif;
}

.header__nav_ul_li_link:hover {
  color: #000;
}

.header__nav_button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: none;
}

.header__nav_ul_li_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  opacity: 0;
  color: #fff;
}

@media screen and (max-width: 769px) {
  .header__nav_link {
    margin-right: 10px;
  }
  .header__nav_link_img {
    width: 131px;
  }
}

@media screen and (max-width: 626px) {
  .header__nav_ul_lis {
    position: absolute;
    top: 28px;
    right: 22px;
  }
  .header__nav_ul_li_btn {
    opacity: 1;
  }
  .header__nav_ul {
    display: none;
  }
  .header__nav_ul {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    z-index: 999;
  }
  .header__nav_responsive_nav {
    -webkit-transform: none;
            transform: none;
  }
  .header__nav_button {
    display: block;
  }
  .header__nav_ul_li_links > img {
    display: none;
  }
  .header__nav_ul_li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .header__nav_ul_li_a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  .header__nav_ul_li_link + .header__nav_ul_li_link {
    margin-left: 0;
  }
  .header__nav_ul_li_link {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 426px) {
  .header {
    padding: 20px 20px;
  }
}
/*# sourceMappingURL=Header.css.map */