.mainfour {
  margin: 0;
  padding-top: 60px;
  box-sizing: border-box;

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250, 248, 248);
  }
  &__top_box {
    padding: 60px 60px 0px 60px;
    margin: 0;
  }
  &__top_box_title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
  }
  &__top_box_desc {
    margin: 0;
    padding-top: 30px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 23px;
    color: rgb(148, 148, 148);
  }
  &__top_ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 0px;
    background: #fff;
  }
  &__top_ul_li {
    list-style: none;
    padding: 47px 30px 40px 62px;
    box-shadow: 1px 1px 10px #ebebeb;
    background: rgb(255, 252, 252);
    transition: all 0.3s linear;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 570px;
    height: 239px;
    cursor: pointer;
  }
  &__top_ul_li:hover {
    background: #fff;
  }
  &__top_ul_li:hover &__top_ul_li_top_btn {
    background: rgb(12, 203, 73);
    transition: all 0.3s ease-in;
  }
  &__top_ul_li:hover &__top_ul_li_top_btn_svg {
    fill: #fff;
  }
  &__top_ul_li_top_btn_svg {
    fill: rgb(109, 109, 109);
  }
  &__top_ul_li_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__top_ul_li_top_desc {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
  }
  &__top_ul_li_top_btn {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    transition: all 0.3s ease-in;
  }
  &__top_ul_li_bottom {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__top_ul_li_bottom_box {
    display: flex;
    flex-direction: column;
  }
  &__top_ul_li_bottom_box_span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(152, 152, 152);
  }
  &__top_ul_li_bottom_box_num {
    margin: 0;
    padding-top: 16px;
    font-size: 18px;
    color: #424242;
    font-weight: bold;
    font-family: sans-serif;
  }
  &__top_ul_li_bottom_images_img {
    width: 125px;
    height: 27px;
  }

  @media screen and (max-width: 1191px) {
    &__top_ul_li {
      width: 540px;
    }
  }
  @media screen and (max-width: 1137px) {
    &__top_ul_li {
      width: 500px;
    }
  }
  @media screen and (max-width: 1054px) {
    &__top_ul_li {
      width: 450px;
    }
  }
  @media screen and (max-width: 953px) {
    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__top_ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__top_ul_li {
      width: 570px;
    }
    &__top_box {
      padding: 50px 50px 0px 50px;
    }
    &__top_box_title {
      font-size: 25px;
    }
    &__top_box_desc {
      font-size: 16px;
      padding-top: 25px;
      line-height: 20px;
    }
  }
  @media screen and (max-width: 651px) {
    &__top_ul_li {
      width: 500px;
    }
  }
  @media screen and (max-width: 571px) {
    &__top_ul_li {
      width: 440px;
    }
    &__top_ul_li_bottom_images_img {
      width: 80px;
      height: 30px;
    }
  }
  @media screen and (max-width: 510px) {
    &__top_ul_li {
      width: 380px;
    }
  }
  @media screen and (max-width: 426px) {
    &__top_ul_li {
      width: 100%;
    }
    &__top_ul_li_bottom_images_img {
      width: 50px;
      height: 20px;
    }
    &__top_box_title {
      font-size: 23px;
    }
    &__top_box_desc {
      font-size: 15px;
      padding-top: 20px;
      line-height: 17px;
    }
  }
  @media screen and (max-width: 376px) {
    &__top_ul_li_bottom_images_img {
      width: 40px;
      height: 15px;
    }
  }
}
