* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1190px;
    padding: 0 25px;
    margin: 0 auto;
}

@media screen and (max-width:426px) {
    .container {
        padding: 0;
    }
}